@media only screen and (min-width: 992px) {
  .navbar {
    display: none;
  }
  .logo {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}

@media only screen and (max-width: 991px) {
  nav {
    display: none;
  }
  .search {
    display: none;
  }
  .logo {
    margin-top: 2rem;
    margin-bottom: -3.5rem;
  }
}

@media only screen and (max-width: 1199px) {
  .container {
    max-width: 100%;
  }
}
.double-carousel {
  max-width: 100%;
}
.navbar {
  justify-content: flex-end;
}
.nav-item {
  list-style-type: none;
}
.gallery {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%;
}
.gallery .pics {
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
}
.gallery .animation {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

@media (max-width: 450px) {
  .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
  }
}

@media (max-width: 400px) {
  .btn.filter {
    padding-left: 1.1rem;
    padding-right: 1.1rem;
  }
}
